<h2 mat-dialog-title>Registrar Hijo</h2>
<form [formGroup]="formAgregarHijo" (ngSubmit)="agregarHijo()">
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Apellido Paterno</mat-label>
      <input matInput formControlName="apPaterno">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Apellido Materno</mat-label>
      <input matInput formControlName="apMaterno">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Primer Nombre</mat-label>
      <input matInput formControlName="nombre1">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Segundo Nombre</mat-label>
      <input matInput formControlName="nombre2">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Fecha de Nacimiento</mat-label>
      <input matInput [matDatepicker]="fchNac" formControlName="fchNac">
      <mat-datepicker-toggle matSuffix [for]="fchNac"></mat-datepicker-toggle>
      <mat-datepicker #fchNac [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close type="submit">Agregar</button>
    <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
  </mat-dialog-actions>
</form>
